.post {
  margin: 0 auto 10px;
  padding: 1rem;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.post:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.post footer {
  margin-top: 0.5rem;
  padding: 0;
  border: 0;
}

.postContent {
  display: flex;
  align-items: flex-start;
  /* margin-bottom: 1rem; */
}

.postInfo {
  flex: 1;
  /* margin-left: 1rem; */
}

.postMeta {
  margin-bottom: 0;
}

.postMetaInner {
  display: flex;
  align-items: center;
  flex-direction: row;
  /* PC表示で左右に表示 */
}

.postTitle {
  margin: 0 0 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--fg);
}

.featuredImage {
  max-width: 100%;
  overflow: hidden;
}

.featuredImage img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  /* 角を丸くする */
}

/* モバイル画面向けのスタイル */
@media (max-width: 430px) {
  .postContent {
    flex-direction: column;
  }

  .featuredImage {
    width: 100%;
  }

  .postInfo {
    width: 100%;
  }

  .postMetaInner {
    flex-direction: column;
    /* モバイル表示で上下に表示 */

    align-items: flex-start;
    /* 左詰めで表示 */
  }

  .postTitle {
    font-size: 1.6rem;
  }
}